@import "tailwindcss";

@layer base {
    body{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: hidden;
        min-width: 300px;
    }

    .imgSection {
        transform: translateY(-100px);
        animation: scrollDown 16s ease-in-out infinite;
    }

    @keyframes scrollDown {
        0% { transform: translateY(-20px); }
        50% { transform: translateY(-400px); }
        100% { transform: translateY(-20px); }
    }

}